/***************GENERAL*****************/

.cont {
  padding: 1% 2%;
  background-color: transparent;
  box-shadow: 2px 2px 23px 2px rgba(110, 136, 228, 0.75);
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url('../img/world.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/world.png');
  height: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-fluid--my {
  margin: 0;
}

.row--my.row {
  padding: 0;
  margin: 0;
}

.row--mycont.row {
  padding-top: 1%;
}

.col--my {
  padding: 0;
}

.upper {
  text-transform: uppercase;
}

.non-list-style {
  list-style: none;
}

.whity-text {
  color: #fff;
}

/******************HEADER*****************/

.header-title {
  padding-top: 2%;
  color: rgb(195, 226, 245);
}

.logo {
  padding-top: 10%;
  background-image: url('../img/transparent-logo.png');
  height: auto;
  background-size: cover;
  background-position: center;
  width: 18rem;
  height: 5rem;
}

/****************ASIDE********************/

.searched-countries {
  padding-top: 4%;
}

/****************MAIN********************/

.card {
  width: 10rem;
  margin-top: 20px;
  background-color: #eeeeee54;
}

.card:hover {
  background-color: #ffffffb2;
}

.card:hover .card-title {
  color: #000;
}

.card-img-top {
  height: 6rem;
}

.card-title {
  font-size: 14px;
  margin: 0;
}

.card-title {
  color: rgb(188, 223, 247);
}

/*************************** COUNTRY DETAIL ************************************/

.cont--countryDetail {
  background-color: #07070794;
  box-shadow: 2px 2px 23px 2px rgba(110, 136, 228, 0.75);
  padding: 4%;
}

.detail-text {
  color: #fff;
}

.countryDetail-info {
  padding-top: 5%;
}

.countryDetail-flag {
  width: 100%;
}

/*************************** CIRCLE PROGRESS BAR ************************************/

.circle.left {
  position: absolute;
  clip: rect(0, 100px, 100px, 50px);
}

.circle.right {
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}

.circle span {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  border: 10px solid #00ff37;
}

.circle.left span {
  clip: rect(0px, 50px, 100px, 0px);
  -webkit-animation: rotate-left 1s infinite linear;
  animation: rotate-left 1s infinite linear;
}

.circle.right span {
  clip: rect(0, 100px, 100px, 50px);
  -webkit-animation: rotate-right 1s infinite linear;
  animation: rotate-right 1s infinite linear;
}

@-webkit-keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-webkit-keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

/*************************** QUERIES ************************************/

@media screen and (max-width: 1924px) {
  .input-filter {
    width: 920px;
  }
}

@media screen and (max-width: 1725px) {
  .input-filter {
    width: 730px;
  }
}

@media screen and (max-width: 1402px) {
  .input-filter {
    width: 540px;
  }
}

@media screen and (max-width: 1075px) {
  .input-filter {
    width: 350px;
  }
}

@media screen and (max-width: 749px) {
  .input-filter {
    width: 160px;
  }
}

@media screen and (max-width: 575px) {
  .input-filter {
    width: 100%;
  }
  .countries-container {
    padding-top: 5%;
  }
  .card-deck .card {
    margin-bottom: 0;
  }
}